@-ms-viewport {
  width: device-width;
}
img {
  max-height: 80px;
  width: auto;
}
.nav-bar {
  border-radius: 5px;
  overflow: hidden;
  background-color: #000000;
  padding: 20px 15px;
}

.nav-bar a {
  float: left;
  text-align: center;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 25px;
  line-height: 30px;
  border-radius: 6px;
  font-family: sans-serif;
  color: #ffffffa8;
}

.nav-bar a:hover {
  color: #ffffff;
}
.nav-right {
  float: right;
}
h1 {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: #4f4645;
}
h2 {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #4f4645;
}
body,
a {
  font-family: sans-serif;
  text-align: center;
  font-size: 24px;
}
footer {
  float: right;
  font-size: 12px;
}
body {
  background-color: #99a8b1;
}
