@-ms-viewport {
  width: device-width;
}
.logo img {
  max-height: 80px;
  width: auto;
  display: block;
}
.nav-bar {
  border-radius: 5px;
  overflow: hidden;
  background-color: #000000;
  padding: 20px 15px;
}

.nav-bar a {
  float: left;
  text-align: center;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 25px;
  line-height: 30px;
  border-radius: 6px;
  font-family: sans-serif;
  color: #ffffffa8;
}

.nav-bar a:hover {
  color: #ffffff;
}
.nav-right {
  float: right;
}
h1 {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: #4f4645;
}
h2 {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #4f4645;
}
body,
a {
  margin-left: 35px;
  font-family: sans-serif;
  text-align: center;
  font-size: 24px;
}
footer {
  float: right;
  font-size: 12px;
}
body {
  background-color: #99a8b1;
  background-image: url("https://media.istockphoto.com/photos/blue-wall-texture-picture-id175400834?k=20&m=175400834&s=612x612&w=0&h=jYHEi1_sjnYnuI8ne6_KOm3iQ9NllGd3zKq6MZ5RJMQ=");
  background-size: 1600px 750px;
}
.user-input {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  background: #ececec;

  width: 300px;
  margin: 25px auto 5px auto;
  padding: 5px;
  font-size: 90%;
}
.submit-btn {
  width: 300px;
  padding: 5px;
  margin: 5px auto 25px auto;
  background: #089b8a;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 100%;
}
.card-container {
  text-align: left;
}

.card {
  display: none;
}
.amy {
  width: 50%;
  height: auto;
}
.caroline {
  width: 21%;
  height: auto;
}
